*{
    font-family: "Poppins", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-color: #7AB8C4;
    --second-color: #F9FBFC;
    --third-color: #686D76;
}

body{
    background:var(--second-color);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.back-icon{
    position: absolute;
    top: 20px;
    left: 20px;
}

.error-message {
    margin-bottom: 10px;
    font-size: 0.9em;
    height: 1em; /* Reserve space to prevent layout shifting */
    display: none;
    align-items: center;
    color: red; /* Default color for error messages */
}

.success-message {
    color: green; /* Green color for success messages */
}

.wrapper span{
    position: fixed;
    bottom: -180px;
    height: 50px;
    width: 50px;
    z-index: -1;
    background-color: var(--second-color);
    box-shadow: 0 0 50px var(--main-color), 
                0 0 100px var(--main-color),
                0 0 150px var(--main-color),
                0 0 200px var(--main-color);
    animation: animate 10s linear infinite;
}

.wrapper span:nth-child(1){
    left: 60px;
    animation-delay: 0.6s;
}

.wrapper span:nth-child(2){
    left: 10%;
    animation-delay: 3s;
    width: 60px;
    height: 60px;
}

.wrapper span:nth-child(3){
    left: 20%;
    animation-delay: 2s;
}

.wrapper span:nth-child(4){
    left: 30%;
    animation-delay: 5s;
    width: 80px;
    height: 80px;
}

.wrapper span:nth-child(5){
    left: 40%;
    animation-delay: 1s;
}

.wrapper span:nth-child(6){
    left: 50%;
    animation-delay: 7s;
}

.wrapper span:nth-child(7){
    left: 60%;
    animation-delay: 6s;
    width: 100px;
    height: 100px;
}

.wrapper span:nth-child(8){
    left: 70%;
    animation-delay: 8s;
}

.wrapper span:nth-child(9){
    left: 80%;
    animation-delay: 6s;
    width: 90px;
    height: 90px;
}

.wrapper span:nth-child(10){
    left: 90%;
    animation-delay: 4s;
}

.container{
    background-color:#fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow:hidden;
    width: 800px;
    max-width: 100%;
    min-height:480px;
}

.container p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.container span{
    font-size: 12px;
}

.container a{
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.container button{
    background-color: var(--main-color) ;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.container button.hidden{
    background-color: transparent;
    border-color: #fff;
}

.container form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.container input{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in{
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.active .sign-in{
    transform: translateX(100%);
}

.sign-up{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index:1;
}

.container.active .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index:5;
    }
}

.social-icons{
    margin: 10px 0;
}

.social-icons a{
    border: 1px solid #ccc;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width:40px ;
    height: 40px
}

.toggle-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}

.container.active .toggle-container{
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle{
    background-color: var(--main-color);
    height: 100%;
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.container.active .toggle{
    transform: translateX(50%);
}

.toggle-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left{
    transform: translateX(-200%);
}

.container.active .toggle-left{
    transform: translateX(0);
}

.toggle-right{
    right: 0;
    transform: translateX(0);
}

.container.active .toggle-right{
    transform: translateX(200%);
}

@keyframes animate{
    0%{
        transform: translateY(0);
        opacity: 1;
    }
    80%{
        opacity: .7;
    }
    100%{
        transform: translateY(-800px) rotate(360deg);
        opacity: 0;
    }
}

@media screen and (max-width: 1023px){
    .container{
        max-width: 700px;
    }
}

@media screen and (max-width: 767px){
    .toggle-container{
        height: 30%;
        width: 100%;
        left: 0;
        border-radius: 0 0 70px 70px;
    }
    .container.active .toggle-container{
        transform: translateY(233.5%);
        border-radius: 70px 70px 0 0;
    }
    .container{
        width: 85%;
        height: 83%;
    }
    .form-container{
        height: 70%;
        width: 100%;
    }
    .container p{
        margin: 3px 0;
    }
    .sign-in{
        width: 100%;
        z-index: 2;
        top:30%;
    }
    .container.active .sign-in{
        transform: translateY(-150%);
    }
    .sign-up{
        width: 100%;
        opacity: 0;
        z-index:1;
        top: 0;
        transform: translateY(100%);
    }    
    .container.active .sign-up{
        transform: translateY(0);
        opacity: 1;
        z-index: 5;
        animation: move 0.6s;
    }
    .toggle-left {
        transform: translateY(-200%);
    }

    .container.active .toggle-left {
        transform: translateY(0);
    }

    .toggle-right {
        transform: translateY(0);
    }
    .container.active .toggle-right {
        transform: translateY(200%);
    }
    .sign-up h1{
        text-align: center;
    }
    .toggle h1{
        font-size: 23px;
    }
    .form-container h1{
        font-size: 25px;
    }
}