*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: "Poppins", serif; 
    background: linear-gradient(90deg, var(--main-color), var(--fourth-color));
}

:root{
    --main-color: #7AB8C4;
    --second-color: #F9FBFC;
    --third-color: #686D76;
    --fourth-color:#E1F3F5;
}

.about {
    z-index: 1; 
    background-color: var(--second-color);
    width: 80%;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    padding: 5px;
    max-width: 1200px;
}

/* Navbar */
header{
    display: flex;
    background-color:  var(--second-color) ;
    width: 100%;
    padding: 10px;
    font-family: "Oswald", serif;
    z-index: 1000;
    border-radius: 20px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

 li {
     list-style: none;
 }

 a {
    text-decoration: none;
    color: var(--third-color);
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 15px;
    font-weight: 700;
}

.navbar .logo{
    width: 170px;
}

.navbar .ul1{
    display: flex;
    gap: 3rem;
}

.ul1 li a:hover, .foot-ul .foot-ul-content li a:hover, .sidebar a:hover{
    color: var(--main-color);                
}

.navbar a:is(:link, :active, :visited).active{
    color: var(--main-color);
}

.ul2 .ham{
    display: none;
}

.ul2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.uls{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.ul2-cnt{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
}

.cart-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.ham-icon i {
    transition: transform 0.3s ease;
    cursor: pointer;
    display: inline-block;
}

.ul2 .ul2-cnt a[href="../Login Page/login.html"]:hover {
    transition: transform 0.3s ease;
    display: inline-block;
}

.ul2 .ul2-cnt a[href="../Login Page/login.html"]:hover, .cart-icon:hover, .ham-icon i:hover{
    transform: scale(1.1);
}

/* sidebar */
.sidebar{
    position:fixed;
    top: 0;
    right:0;
    height: 100%;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:flex-start;
    gap: 50px;
    padding-top: 10px;
}

.sidebar-text{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.sidebar-text span{
    color: var(--main-color);
}

.sidebar-text i{
    margin-top: 14px;
    margin-left: 20px;
    cursor: pointer;
}

.sidebar li{
    width: 100%;
    margin-left: 60px;
}

.sidebar a{
    position: relative;
    display: inline-block;
    transition: transform 0.3s ease;
}

.sidebar li i{
    margin-right: 20px;
}

.sidebar li a:hover {
    transform: translateX(20px); 
}

.hidden{
    display: none;
}

.aboutus {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    gap: 70px;
    margin-top: 10px;
}

.about-text {
    width: 50%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}

.about-text p{
    color: var(--third-color);
    font-size: 17px;
}

.about-img {
    width: 50%;
    max-width: 500px;
}

.about-img img {
    width: 90%;
    height: auto;
    border-radius: 20px;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}

.about-text span {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1.8px; 
    -webkit-text-stroke-color: var(--main-color);
}

.card-head{
    display: flex ;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.card-icon{
    background-color: var(--main-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 37px;
    height: 37px
}

.card{
    background-color: white;
    width: 230px;
    height: 170px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.3);
    padding: 23px;
}

.card p{
    font-size: 14px;
    color: var(--third-color);
}

.card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-bottom: 30px;
    flex-wrap: wrap;
    width: 100%;
}

@media screen and (min-width: 767px) and (max-width:1024px){
    .navbar{
        flex-direction: column;
        gap: 15px;
    }

    .uls{
        gap: 0;
    }
    
    .aboutus{
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }
    .about-img{
        width: 100%;
    }
    .about-img img{
        width: 100%;
    }
    .about-text{
        width: 100%;
        text-align: justify;
    }
    .cards{ 
        gap: 50px;
        margin-top: 20px;
    }
}

@media screen and (max-width: 767px){
    .navbar .ul1{
        display: none;
    }

    .navbar{
        flex-direction: column;
        gap: 5px;
    }

    .ul2 .ham{
        display: flex;
    }

    .ul2 .ham-icon{
        margin-right: 20px ;
        margin-top: 10px;
        padding: 5px;
    }

    .uls{
        width: 100%;
    }

    .ul2{
        width: 100%;
        justify-content: space-between;
        flex-direction: row-reverse;
    }
    
    .ul2-cnt{
        margin-left: 20px;
        flex-direction: row-reverse;
    }

    .aboutus{
        flex-direction: column;
        gap: 15px;
        align-items: center;
        padding: 20px;
    }
    .about-img{
        width: 100%;
    }
    .about-img img{
        width: 100%;
    }
    .about-text{
        width: 100%;
        text-align: justify;
    }
    .cards{ 
        gap: 50px;
        margin-top: 20px;
    }
    .card{
        width: 80%;
        height:180px;
    }
}

/* ScrollBar */
::-webkit-scrollbar {
    display: none; 
}